<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionalCompoundString</key>
	<dict>
		<key>key</key>
		<array>
			<string>left_hand_string</string>
			<string>right_hand_string</string>
		</array>
		<key>mapper</key>
		<string>US2CompoundValueTransformer</string>
		<key>type</key>
		<string>String</string>
	</dict>
	<key>non_optionalCompoundString</key>
	<dict>
		<key>nonoptional</key>
		<string>true</string>
		<key>key</key>
		<array>
			<string>non_optional_left_hand_string</string>
			<string>non_optional_right_hand_string</string>
		</array>
		<key>mapper</key>
		<string>US2CompoundValueTransformer</string>
		<key>type</key>
		<string>String</string>
	</dict>
</dict>
</plist>
