<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionalArrayStringType</key>
	<dict>
		<key>key</key>
		<string>optional_array_string_type</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>String</string>
	</dict>
	<key>optionalArrayDoubleType</key>
	<dict>
		<key>key</key>
		<string>optional_array_double_type</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>Double</string>
	</dict>
	<key>optionalArrayFloatType</key>
	<dict>
		<key>key</key>
		<string>optional_array_float_type</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>Float</string>
	</dict>
	<key>optionalArrayIntType</key>
	<dict>
		<key>key</key>
		<string>optional_array_int_type</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>Int</string>
	</dict>
	<key>non_optionalArrayStringType</key>
	<dict>
		<key>nonoptional</key>
		<string>true</string>
		<key>key</key>
		<string>non_optional_array_string_type</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>String</string>
	</dict>
	<key>non_optionalArrayDoubleType</key>
	<dict>
		<key>nonoptional</key>
		<string>true</string>
		<key>key</key>
		<string>non_optional_array_double_type</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>Double</string>
	</dict>
	<key>non_optionalArrayFloatType</key>
	<dict>
		<key>nonoptional</key>
		<string>true</string>
		<key>key</key>
		<string>non_optional_array_float_type</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>Float</string>
	</dict>
	<key>non_optionalArrayIntType</key>
	<dict>
		<key>nonoptional</key>
		<string>true</string>
		<key>key</key>
		<string>non_optional_array_int_type</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>Int</string>
	</dict>
</dict>
</plist>
