<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionalArrayType</key>
	<dict>
		<key>key</key>
		<string>optional_sub_object_array</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>TestObjectFour</string>
	</dict>
	<key>non_optionalArrayType</key>
	<dict>
		<key>nonoptional</key>
		<string>true</string>
		<key>key</key>
		<string>non_optional_sub_object_array</string>
		<key>type</key>
		<string>Array</string>
		<key>collection_subtype</key>
		<string>TestObjectFour</string>
	</dict>
</dict>
</plist>
